@using MvcSiteMapProvider.Web.Html;
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    <!--стили jquery ui-->
  <!-- @Styles.Render("~/Content/themes/base/css") -->
    <!--сама библиотека jquey ui-->   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery.unobtrusive-ajax.min.js")

    @RenderSection("scripts", required: false)
    <!--если браузер не создает специального поля для date, то добавляем datepicker-->
    <script type="text/javascript">
        $(function () {
            if (!Modernizr.inputtypes.date) {
                $(function () {
                    $("input[type='date']")
                                .datepicker({ dateFormat: 'dd/mm/yy' })
                                .get(0).setAttribute("type", "text");
                })
            }
        });
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Библиотеки
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("События", "Index", "hEventTypes")</li>
                           
                            <li>@Html.ActionLink("Статусы заявок", "Index", "hStates")</li>
                        
                            <li>@Html.ActionLink("Статусы работ", "Index", "hStateWorks")</li>
                        
                            <li>@Html.ActionLink("Типы работ", "Index", "hWorkTypes")</li>

                            <li>@Html.ActionLink("Умения", "Index", "hSkills")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Администрирование
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Пользователи", "Index", "AspNetUsers")</li>

                            <li>@Html.ActionLink("Умения", "Index", "jSkillLists")</li>

                            <li>@Html.ActionLink("Роли", "Index", "AspNetUserRoles")</li>
                        </ul>
                    </li>                    
                    <li>@Html.ActionLink("Заявки", "Index", "jQueries")</li>                    
                    <li>@Html.ActionLink("Работы", "Index", "jWorkLists")</li>
                    <li>@Html.ActionLink("Журнал", "Index", "jJournals")</li>
                    <li>@Html.ActionLink("Test", "Test", "Home")</li>
                </ul>*@
                @Html.MvcSiteMap().Menu()
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
        <footer class="myfooter">
           
            <p class="marLeft">     &copy; Vadim and Artem 2017</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js_scripts")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>
