@model IEnumerable<jJournal>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QueryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hEventType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jWorkList.PersonExecId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QueryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hEventType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jWorkList.PersonExecId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JournalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JournalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JournalId })
        </td>
    </tr>
}

</table>
