@model IEnumerable<Prak.Models.jJournal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hEventType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hPerson.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jWorkList.WorkListId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hEventType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hPerson.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jWorkList.WorkListId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JournalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JournalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JournalId })
        </td>
    </tr>
}

</table>
