@model IEnumerable<jQuery>
<!--Представление вызываемое методом Index-->
<h2>Список заявок на обслуживание</h2>

<p>
    @Html.ActionLink("Добавить заявку", "Create")
</p>


<!--Создаем шапку таблицы, добавляем классы, чтобы сделать таблицу более читаемой-->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Дата выполнения
            </th>
            <th>
                Дата поступления
            </th>
            <th>
                Последнее изменение
            </th>
            <th>
                Выполнить до
            </th>
            <th>
                Текст
            </th>
            <th>
                Отправитель
            </th>
            <th>
                Исполнитель
            </th>
            <th>
                Статус работы
            </th>
            <th></th>
        </tr>
    </thead>
    <!--Дальше идет код для заполнения созданой таблицы данными из бд-->
    <tbody class="queries_table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeadLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.Fio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers1.Fio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hState.Description)
                </td>
                <td>
                    <!--Создаем ссылку на смену статуса-->
                    @Html.ActionLink("Сменить статус", "ChangeStatusQuery", new { id = item.QueryId }, new { @class = "btn btn-default" }) 

                    <!--@Html.ActionLink("Изменить", "Edit", new { id = item.QueryId }) |

                    @Html.ActionLink("Подробнее", "Details", new { id = item.QueryId }) |

                    @Html.ActionLink("Удалить", "Delete", new { id = item.QueryId }) |-->

                </td>
            </tr>
        }
        </tbody>
</table>



