@model IEnumerable<AspNetUsers>
<div class="trWe2">
    @{
        ViewBag.Title = "Пользователи";
    }

    <h2>Пользователи</h2>
    <p>
        @Html.ActionLink("Зарегистрировать нового пользователя", "Register", "Account", new {  }, new { })
       
    </p>
    <table class="table">
        <tr>
            <th>
                Почта
            </th>
            <th>
                Фио
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fio)
                </td>
                <td>
                    <div class="postr">
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
                    </div>
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Экспорт", "AspNetUsers", new { }, new { @class = "btn btn-default" })

    @using (Html.BeginForm("Import", "AspNetUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Raw(ViewBag.Error)

         <input type="file" name="excelfile" class="btn btn-default" />
         <input type="submit" value="Импорт" class="btn btn-default" />
    }
    </div>