@model IEnumerable<jJournal>

<h2>Журнал событий</h2>
<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Событие
        </th>
        <th>
            Описание 
        </th>
        <th>
            Пользователь
        </th>
        <th>
            Заявка
        </th>
        <th>
            Работа
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hEventType.Description)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Fio)
        </td>
        <td>           
            @Html.ActionLink(item.QueryID.ToString(), "Details", "jQueries", new { id = item.QueryID }, new { id = "QerId" })
        </td>
        <td>
            @if (item.WorkListId != null) {
            @Html.ActionLink(item.jWorkList.WorkListId.ToString(), "Details", "jWorkLists", new { id = item.jWorkList.WorkListId }, new { id = "WorkId" })}
            @if(item.WorkListId == null) { @Html.DisplayFor(modelItem => item.jWorkList.PersonExecId)}
        </td>

    </tr>
}

</table>
