@model Prak.Models.hPerson

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>hPerson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hAccess.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hAccess.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
