@model IEnumerable<Prak.Models.hPerson>

@{
    ViewBag.Title = "Index";
}

<h2>Список сотрудников</h2>

<p>
    @Html.ActionLink("Добавить сотрудника", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ФИО сотрудника
        </th>
        <th>
            Уровень доступа
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hAccess.Description)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.PersonId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.PersonId }) |
            @Html.ActionLink("Отправленные заявки", "", new { id = item.PersonId })
        </td>
    </tr>
    <h5>Для ссылки "Отправленные заявки" требуестся создать действие в соответствующем котроллере, отображающее отправленные персоной заявки,
    нужна выборка из таблицы заявок исключительно по его ID</h5>
}

</table>
